.container{
    background: #ffffff url('./images/home.jpg') no-repeat center center;
    margin-top: 10px;
    width : 1100px;
    height : 600px;
}

.header{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    color: white;
    font-weight: bold;
}
.header img{
    border-radius: 50%;
    padding-top: 5px;
}

#search_bar{
    margin: 20px 0 0 15%;
    width: 70%;
    height: 35px;
    background-color: black; 
    color: white;
    text-align: center;
    border-radius: 30px;
    font-size: 17px;
    border-color: white;
}

.note_container{
    height : 450px;
    margin-top: 40px;
    padding: 0 5% 0 10%;
    overflow-y: scroll;
}

.li_div{
    display: inline-block;
    list-style: none;
    /* display: inline-block; */
    background-color:black;
    opacity: 0.8 !important;
    border-radius: 20px;
    color: white;
    padding: 20px 10px 20px 10px;
    margin: 10px 10px 10px 10px;
}

li::first-line{
    color: green;
    font-weight: bold;
    font-size: medium;
}
#btn_edit{
    border-color: yellow;
    background-color: black;
    color: yellow;
    opacity: 0.8;
    margin-right: 5%;
}
#btn_edit:hover{
    background-color: yellow;
    color: black;
}
#btn_del{
    border-color: red;
    background-color: black;
    color: red;
    opacity: 0.8;
}
#btn_del:hover{
    background-color: red;
    color: black;
}

.modal-header{
    background-color: black !important;
    opacity : 0.9;
    color:white;
}
.modal-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black !important;
    opacity : 0.9;
}
.modal-footer{
    background-color: black !important;
    opacity : 0.9;
}




